*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;
  min-height: 100vh;
  min-width: 1100px;
  margin: 0;
  font-family: Raleway, Arial, sans-serif;
}

main {
  flex: 1 0 auto;

}

footer {
  flex: 0 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

address {
  font-style: unset;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.header__links-list-item,
.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-underline-offset: 4px;
  transition: opacity .3s ease;
}

.header__links-list-item:hover,
.footer__menu-list-item:hover {
  opacity: .6;
}

.address {
  list-style-type: none;
}

.address__item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.menu-link_active {
  text-decoration: none;
}